workflows/n8n/pubilie-doc-content-scheduler.json
{
  "name": "Pubilie-Doc Content Scheduler",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "hours", "hoursInterval": 1 }]
        }
      },
      "id": "schedule-trigger",
      "name": "Every Hour Check",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "http://192.168.80.2:9000/api/content-queue",
        "options": { "timeout": 30000 }
      },
      "id": "fetch-queue",
      "name": "Fetch Content Queue",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "jsCode": "const queue = $input.first().json.items || [];\nconst now = new Date();\n\n// Filter items scheduled for now or past\nconst dueItems = queue.filter(item => {\n  const scheduledTime = new Date(item.scheduled_time);\n  return scheduledTime <= now && item.status === 'pending';\n});\n\n// Sort by priority (P0 > P1 > P2) then by scheduled_time\ndueItems.sort((a, b) => {\n  const priorityOrder = { 'P0': 0, 'P1': 1, 'P2': 2 };\n  const priorityDiff = (priorityOrder[a.priority] || 2) - (priorityOrder[b.priority] || 2);\n  if (priorityDiff !== 0) return priorityDiff;\n  return new Date(a.scheduled_time) - new Date(b.scheduled_time);\n});\n\nreturn dueItems.slice(0, 5).map(item => ({ json: item }));"
      },
      "id": "filter-due",
      "name": "Filter Due Items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $input.all().length }}",
              "operation": "larger",
              "value2": 0
            }
          ]
        }
      },
      "id": "has-items",
      "name": "Has Due Items?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": { "reset": false }
      },
      "id": "process-batch",
      "name": "Process One by One",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1050, 250]
    },
    {
      "parameters": {
        "url": "http://localhost:5678/webhook/publish-article",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ title: $json.title, title_en: $json.title_en, content: $json.content, content_en: $json.content_en, category: $json.category, tags: $json.tags, platforms: $json.platforms, humanize_check: true, language: $json.language || 'bilingual' }) }}",
        "options": { "timeout": 120000 }
      },
      "id": "trigger-publish",
      "name": "Trigger Publish Workflow",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1250, 250]
    },
    {
      "parameters": {
        "url": "http://192.168.80.2:9000/api/content-queue/{{ $('Process One by One').first().json.id }}",
        "method": "PATCH",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ status: $json.success ? 'published' : 'failed', published_at: new Date().toISOString(), publish_result: $json }) }}",
        "options": { "timeout": 10000 }
      },
      "id": "update-status",
      "name": "Update Queue Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1450, 250]
    },
    {
      "parameters": {
        "jsCode": "const processed = $input.all();\n\nconst summary = {\n  check_time: new Date().toISOString(),\n  items_processed: processed.length,\n  successful: processed.filter(p => p.json.status === 'published').length,\n  failed: processed.filter(p => p.json.status === 'failed').length\n};\n\nreturn [{ json: summary }];"
      },
      "id": "create-summary",
      "name": "Create Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 400]
    }
  ],
  "connections": {
    "Every Hour Check": {
      "main": [[{ "node": "Fetch Content Queue", "type": "main", "index": 0 }]]
    },
    "Fetch Content Queue": {
      "main": [[{ "node": "Filter Due Items", "type": "main", "index": 0 }]]
    },
    "Filter Due Items": {
      "main": [[{ "node": "Has Due Items?", "type": "main", "index": 0 }]]
    },
    "Has Due Items?": {
      "main": [
        [{ "node": "Process One by One", "type": "main", "index": 0 }],
        [{ "node": "Create Summary", "type": "main", "index": 0 }]
      ]
    },
    "Process One by One": {
      "main": [
        [{ "node": "Trigger Publish Workflow", "type": "main", "index": 0 }],
        [{ "node": "Create Summary", "type": "main", "index": 0 }]
      ]
    },
    "Trigger Publish Workflow": {
      "main": [[{ "node": "Update Queue Status", "type": "main", "index": 0 }]]
    },
    "Update Queue Status": {
      "main": [[{ "node": "Process One by One", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "meta": {
    "templateId": "pubilie-doc-content-scheduler-v1",
    "categories": ["Content Scheduling", "Queue Management", "Automation"],
    "description": "Hourly content queue processor for scheduled publishing",
    "author": "Innora",
    "version": "1.0.0"
  }
}
